.storeCart {
  background: white;
  position: relative;
  top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.prueba {
  position: relative;
  top: 10rem;
  background: pink;
  margin-bottom: 2rem;
}
.productsExample {
  display: flex;
  flex-direction: column;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid rgb(20, 20, 20);
  padding: 8px;
}

.coll{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}