.prueba {
  margin-bottom: 2rem;
  box-shadow: 5px 6px 36px 3px rgb(0 0 0 / 20%);
  display: flex;
  width: 22rem;
  flex-direction: column;
  padding: 0.5rem;
  gap: 1.1rem;
}
.productsExample {
  display: flex;
  flex-direction: column;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid transparent;
  padding: 8px;
}

.coll {
  display: flex;
  gap: 2rem;
}

.coll2 {
  display: flex;
  gap: 2rem;
}
.btnStore {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
