.cartProduct {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  width: 67rem;
  padding: 0.5rem;
}
.cartImgContainer {
  width: 10rem;
}
.cartImg {
  width: 100%;
}
.productNamecart {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productNamecart p {
  font-size: 1.5rem;
}
.productPricecart {
  width: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productPricecart p {
  font-size: 1.5rem;
}
.addDecreaseQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCart {
  padding: 0.5rem;
  color: white;
  font-size: 2rem;
  background-color: #819ef5;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  width: 3.5rem;
}
.widerBtn {
  width: 10rem;
}
