.cartProduct {
  background-color: white;
    box-shadow: 5px 6px 36px 3px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 2.5rem;
    gap: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    width: 39rem;
    padding: 0.5rem;
    align-content: stretch;
}
.cartImgContainer {
  width: 10rem;
}
.cartImg {
  width: 100%;
}
.productNamecart {
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productNamecart p {
  font-size: 1.3rem;
}
.productPricecart {
  width: 5.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productPricecart p {
  font-size: 1.2rem;
}
.addDecreaseQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCart {
  /* padding: 0.5rem; */
  color: #7D7171;
  font-size: 2.5rem;
  /* background-color: #819ef5;
  border-radius: 0.2rem; */
  /* border: none;
  outline: none; */
  width: 3.8rem;
}
.btnAddDecrease {
  padding: 0.5rem;
  color: white;
  font-size: 1.1rem;
  background-color: #7D7171;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  width: 3rem;
}
.btnIconTrash {
  border: none;
  outline: none;
  background: none;
}
.widerBtn {
  width: 10rem;
}
