.storeContainer {
  display: flex;
  padding: 1rem;
}
.categoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 9rem;
}
.categoriesContainer button {
  padding: 0.5rem;
  color: #ce73ff;
  font-weight: bolder;
  font-size: 1.3rem;
  background-color: white;
  border-radius: 0.8rem;
  border: none;
  outline: none;
}

.productoperro:hover {
  background-color: #c2845e;
}
.productogato:hover {
  background-color: #c2845e;
}

.myProducts {
  margin-left: 2rem;
}
.productsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 26px;
}
.textCenter {
  margin: 1.5rem 0;
  text-align: center;
  color: white;
  font-size: 4rem;
}
.allMyProducts {
  width: 48 rem;
}
