.storeContainer {
  display: flex;
  padding: 1rem;
}
.categoriesContainer {
  position: fixed;
  display: flex;
  gap: 2rem;
  top: 12rem;
  left: 11rem;
}
.categoriesContainer button {
  padding: 0.5rem;
  color: #ce73ff;
  font-weight: bolder;
  font-size: 1.8rem;
  background-color: white;
  border-radius: 0.8rem;
  border: none;
  outline: none;
}

.productoperro:hover {
  background-color: #c2845e;
}
.productogato:hover {
  background-color: #c2845e;
}

.myProducts {
  left: 3rem;
  position: fixed;
  top: 18rem;
  height: 39rem;
  z-index: 99;
  overflow-y: scroll;
  overflow-x: hidden;
}
.productsBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 26px;
}
.productsBox:last-child {
  margin-bottom: 8rem;
}
.textCenter {
  margin: 1.5rem 0;
  text-align: center;
  color: white;
  font-size: 4rem;
}
.allMyProducts {
  width: 48 rem;
}
.pleaseWait {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 23rem;
  left: 11rem;
}
.pleaseWait p {
  font-size: 4rem;
  margin-left: 10rem;
}
