.storeContainer {
  display: flex;
  padding: 1rem;
}
.categoriesContainer {
  position: fixed;
  display: flex;
  gap: 2rem;
  top: 12rem;
  left: 11rem;
}

.swal2-container.swal2-center>.swal2-popup{
  /* height: 30rem !important;
  width: 40rem !important; 
  background: #dfd9fb !important;*/
  border-radius: 2rem !important;
}
.swal2-icon.swal2-info.swal2-icon-show {
  color:#ce73ff !important;
  }

.swal2-icon.swal2-success [-success-liclass^=swal2ne] {
border-color: #ce73ff !important;
}

.swal2-icon.swal2-success .swal2-success-ring{
  border: 0.25em solid #ce73ff !important;
}

.categoriesContainer button {
  padding: 0.5rem;
  color: #ce73ff;
  font-weight: bolder;
  font-size: 1.8rem;
  background-color: white;
  border-radius: 0.8rem;
  border: none;
  outline: none;
}

.productoperro:hover {
  background-color: #c2845e;
}
.productogato:hover {
  background-color: #c2845e;
}

.myProducts {
  left: 3rem;
  position: fixed;
  top: 18rem;
  height: 39rem;
  z-index: 99;
  overflow-y: scroll;
  overflow-x: hidden;
}

.productsBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 26px;
}

@media (min-width: 1200px) {
  .myProducts::-webkit-scrollbar {
    width: 1rem;
    background: transparent;
    margin-left: 2rem;
  }
  .myProducts::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0.5rem;
    /* border-right: 0rem solid var(--GreyBorder); */
    height: 40%;
  }
  .myProducts::-webkit-scrollbar-thumb:hover{
    background: #ce73ff;
  }
  .myProducts {
    width: 78rem;
    left: 5rem;
  }
}

.productsBox:last-child {
  margin-bottom: 8rem;
}
.textCenter {
  margin: 1.5rem 0;
  text-align: center;
  color: white;
  font-size: 4rem;
}
.allMyProducts {
  width: 48 rem;
}
.pleaseWait {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 23rem;
  left: 11rem;
}
.pleaseWait p {
  font-size: 4rem;
  margin-left: 10rem;
}
