.statisticsContainer {
  position: fixed;
  top: 10rem;
  display: flex;
  gap: 2rem;
  left: 1.5rem;
}
.statisticCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 7px 2px 23px 2px rgb(0 0 0 / 22%);
  width: 22rem;
  border-radius: 1rem;
  align-items: center;
  padding: 1.5rem;
}
.secondRow {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.statisticInfo {
  font-size: 2.5rem;
  color: #7a7a7a;
}
.adminIcon {
  color: #ce73ff;
  font-size: 3rem;
}

.adminContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 8rem;
}

.adminSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminSection h2 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

.adminWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.logoAdmin {
  width: 60%;
}

.adminFormSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10rem;
  left: 44rem;
}

.inputAdmin {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  border: 1px solid #7d7171;
  border-radius: 5px;
  color: #7a7a7a;
}

.inputAdmin:focus {
  border: white;
}
.inputAdmin::placeholder {
  font-size: 1.5rem;
  color: #7a7a7a;
}
.adminFontSize {
  font-size: 1.4rem;
}
.btnAddProductsAdmin {
  color: #819ef5;
  background-color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bolder;
}

.btnAdmin {
  background-color: #ce73ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.7rem;
  font-weight: bolder;
  width: 80%;
  height: 3rem;
}

.btnAdmin:hover {
  color: black;
}

.adminForm {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 7px 2px 23px 2px rgb(0 0 0 / 22%);
  border-radius: 5%;
  padding: 1.5em;
  width: 26rem;
  height: 100%;
  color: white;
  text-align: center;
}

.error-msg {
  color: #d90606;
  font-size: 1.6rem;
}

.btnRegister:hover {
  color: black;
}
