.adminContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 8rem;
}

.adminSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminSection h2 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

.adminWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.logoAdmin {
  width: 60%;
}
.topNav {
    width: 100%;
    display: flex;
    grid-gap: 19rem;
    position: fixed;
    top: 1.5rem;
    left: 15rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.topNavName {
  font-size: 2rem;
  color: black;
  font-weight: bolder;
}

.outAdmin {
  color: #ce73ff;
  font-size: 2.5rem;
}
