.adminContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 8rem;
}

.adminSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminSection h2 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

.adminWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.logoAdmin {
  width: 60%;
}

.adminFormSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputAdmin {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: #7a7a7a;
}

.inputAdmin:focus {
  border: white;
}
.inputAdmin::placeholder {
  font-size: 1.5rem;
  color: #7a7a7a;
}
.adminFontSize {
  font-size: 1.4rem;
}
.btnAddProductsAdmin {
  color: #819ef5;
  background-color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bolder;
}

.btnAdmin {
  background-color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ce73ff;
  font-size: 1.7rem;
  font-weight: bolder;
}

.btnAdmin:hover {
  color: black;
}

.adminForm {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  padding: 1.5em;
  width: 72%;
  height: 100%;
  color: white;
  text-align: center;
}

.error-msg {
  color: #d90606;
  font-size: 1.6rem;
}

.btnRegister:hover {
  color: black;
}
