.navBarContainerEmployee {
  position: fixed;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  /* justify-content: space-between; */
  height: 5rem;
  gap: 48rem;
  background: #bb53f3;
}
.highBarEmployee {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
}
.infoEmployee {
  font-size: 2rem;
  color: #fcfcfc;
}
.navBarIconEmployee {
  color: #fcfcfc;
  font-size: 2.4rem;
}

@media (min-width: 1200px){
  .highBarEmployee{
    margin-left: 2rem;
    gap: 3rem;
  }
  .navBarContainerEmployee{
    gap: 60rem;
  }

}
