.navBarContainer {
  position: fixed;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24rem;
  background: #bb53f3;
}

.swal2-styled.swal2-confirm {
  border: 3px solid #bb53f3 !important;
  color: #bb53f3 !important;
  height: 2.7rem;
  width: 6rem;
}
.TopBarContainer {
  display: flex;
  gap: 2rem;
}
.inicioTiends {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.inicio {
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: 900;
}

.logoNavContainer {
  width: 6.5rem;
}
.logoNav {
  width: 59%;
  height: 90%;
  padding-top: 0.5rem;
  margin-left: 0.9rem;
}
.iconContainer {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
.logOut {
  outline: none;
  border: none;
  background: none;
}
.navBarIcon {
  font-size: 2.5rem;
  color: white;
}

@media (min-width: 1200px){
  .navBarContainer{
    height: 4.5rem;
  }
  .navBarIcon{
    font-size: 1.9rem;
  }
  .logoNav{
    width: 49%;
    margin-left: 1.2rem;
  }
  .inicio{
    font-size: 1.5rem;
  }
}