.registerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 10rem;
}

.logoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoSection h2 {
  color: white;
  font-size: 3.5rem;
  text-align: center;
}

.welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.logoRegister {
  width: 85%;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputRegister {
  width: 80%;
  height: 3rem;
  padding: 0.5rem;
  border:  1px solid #7d7171;
  border-radius: 5px;
}

.inputRegister:focus {
  border: white;
}
.inputRegister::placeholder {
  font-size: 1.3rem;
  color: #7a7a7a;
}

.btnRegister {
  background-color: #ce73ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.7rem;
  font-weight: bolder;
  width: 80%;
  height: 3rem;
}

.btnRegister:hover {
  color: black;
}

.registerForm {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 5px 6px 36px 3px rgb(0 0 0 / 20%);
  border-radius: 5%;
  padding: 1.5em;
  width: 72%;
  height: 100%;
  color: white;
  text-align: center;
}
.registerForm h4 {
  font-size: 1.9rem;
  color: #ce73ff;
}

.errorAlrt{
  color: #F25C5C;
  background: #FCD2D2;
  font-size: 1.3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.btnRegister:hover {
  color: black;
}
.containerGoToLogIN {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.infoRegister {
  background-color: transparent;
  color: black;
  font-size: 1.3rem;
}
.goToLogIn {
  text-decoration: underline;
  color: #ce73ff;
  font-size: 1.3rem;
  font-weight: bolder;
}

