.letra{
    font-size: 5rem;
}
.logInContainer{
    display:flex;
    flex-direction: row;
}
.logoContainer{
   
    width:50%;

    /* float: left; */
}
.formContainer{
    /* float: right; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: pink;
    width:50%;
}
.logo{
    width:100%;
    height: 100%;
}