.deliveryBoxContainer {
  position: fixed;
  height: 38rem;
  width: 100%;
  top: 13rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.deliveryBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 100%;
}
.pleaseWaitDelivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
}
.waitDelivery {
  font-size: 4rem;
  color: #7d7171;
}
