/* Naranja: #FFA46C
Marron: #C2845E
Marron #gris: B29B8B
gris: #CFCFCF
fondo: #FFFAF8
negro: #3C3C3C */
.letra{
    font-size: 5rem;
}
.logInContainer{
    display:flex;
    flex-direction: row;
}
.logoContainer{
   
    width:50%;

    /* float: left; */
}
.formContainer{
    /* float: right; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: pink;
    width:50%;
}
.logo{
    width:100%;
    height: 100%;
}
/* .Logo{
    display: flex;
    justify-content: center;
}
.Buttons{
    display: flex;
    justify-content: center;
    gap:4rem;
}
.styleBtn{
    background-color: #FFA46C;
    width: 15rem;
    height: 5rem;
    color:white;
    font-size: 2rem;
    border-radius: 2rem;
    border:none;
}
.styleBtn:hover{
    background-color: #C2845E ;
}
.link{
    text-decoration: none;
    color: white;
} */