.staffContainer{
    position: fixed;
    overflow: scroll;
    border: none;
    top: 10rem;
    margin-left: 2rem;
    
}
.firstRowStaff{
    display:flex;
    align-items:center;
    border-bottom:1px solid #7a7a7a;
    gap:2rem;
   margin-bottom:1rem;
   margin-left: 1rem;
   margin-top: 1.6rem;
}
.cardStaffName{
    font-size: 1.5rem;
    color:#7a7a7a;
    padding:0.5rem;
    margin-left:0rem;
}
.cardStaffEmail{
    font-size: 1.5rem;
    color:#7a7a7a;
    padding:0.5rem;
    margin-left:7rem;
}
.cardStaffRol{
    font-size: 1.5rem;
    color:#7a7a7a;
    padding:0.5rem;
    margin-left:9rem;
}