*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color: #fffaf8;
}
body {
  font-family: "Quantico", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
