* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quantico", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(206, 115, 255);
  background: linear-gradient(
    90deg,
    rgba(206, 115, 255, 1) 0%,
    rgba(197, 162, 255, 1) 35%,
    rgba(129, 158, 245, 1) 74%,
    rgba(129, 158, 245, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
